cebra
datasets
gensim

hydra-core
matplotlib
numpy
omegaconf
pandas
plotly
python-dotenv
scikit-learn
seaborn
sentence-transformers
torch
tqdm
transformers
umap-learn
kagglehub
kaleido
optuna
wandb
kagglehub
